h1{
    font-style:italic; 
}
#navbar1{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: 5px 5px 20px rgba(0,0,0,.5);
    font-weight: 800;
    font-style:italic;
}
.button1{
    background-color:rgb(250, 246, 246);
    border-color:rgb(250, 247, 247);
    border-radius:10px;
    border-width: 2.5px;
    font-style:italic;
}
.button1:hover{
    cursor: pointer;
    background-color:rgb(255, 177, 190);
    font-weight: bold;
}
#navbarSupportedContent a{
    color:black;
    border-bottom: 2px solid transparent;
}
#navbarSupportedContent a:hover{
    border-bottom: 2px solid  rgb(231, 90, 113);
    font-weight: lighter;
    /* color:rgb(230, 86, 86); */
    color: rgb(219, 5, 41);
}
.carousel-item img {
    width: 100%;
    /* height: 500px; */
    object-fit: cover; /* Ensures the image covers the area without distortion */
}
.icons img{
    padding: 8px;
}
.footer{
    background-color:black;
}
.footer footer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-style:italic;
}
.footer footer div {
    /* margin: 50p 50px 50px 50px; */
    padding: 30px;
    color: white;
    text-align:start;
    font-weight:bold;
    margin-left: 22px;
    margin-right: 22px;
}
.footer footer div p{
    text-align: start;
    color: white;
    font-size: 15px;
}
.copy
{
    color: white;
}
/* .image-holder{
    overflow: hidden;
}
.image-holder img{
     transition: all 1.5s ease-in;
}
.image-holder:hover img{
    transform: scale(1.5s);
} */
